<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>94983989197-b09c76gsgt4gjj9sgrsccv6t7ef0229g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.94983989197-b09c76gsgt4gjj9sgrsccv6t7ef0229g</string>
	<key>API_KEY</key>
	<string>AIzaSyDlUvgbykh-7c9qdBYu_4SUaKCvDUh8o98</string>
	<key>GCM_SENDER_ID</key>
	<string>94983989197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Marquez.crashlyticsDemo</string>
	<key>PROJECT_ID</key>
	<string>crashlyticsdemo-9c91c</string>
	<key>STORAGE_BUCKET</key>
	<string>crashlyticsdemo-9c91c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94983989197:ios:5d38a971d860d6afebc684</string>
</dict>
</plist>